<section>
  <.form let={_f} for={@changeset} id="performance-form" phx-target={@myself} phx-change="validate" phx-submit="save">
    <header>
      <h2><%= @title %></h2>
    </header>
    <div>
      <%= submit("Save", phx_disable_with: "Saving...", class: "action-btn") %>
    </div>
  </.form>
</section>
