<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "Karaokium", suffix: " · CeSIUM") %>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/karaokium/assets/app.css")} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/karaokium/assets/app.js")}>
    </script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js">
    </script>
  </head>
  <body>
    <%= render("_header.html", assigns) %>
    <%= @inner_content %>
  </body>
</html>
