<%= if @current_user do %>
  <header>
    <h1>Hello, <%= @current_user.name %>!</h1>
    <p>Scan a QRCode and start voting!</p>
  </header>
<% else %>
  <header>
    <h1>Welcome to Karaokium!</h1>
    <p>A voting plaform for Karaoke performances!</p>
    <p>
      <%= link to: Routes.user_registration_path(@conn, :new) do %>
        <i>Register</i>
      <% end %>
      <%= link to: Routes.user_session_path(@conn, :new) do %>
        <b>Login</b>
      <% end %>
    </p>
  </header>
<% end %>
