nav {
  margin-bottom: 0;
}

footer,
header,
main {
  padding: 1rem 1rem;
}

input {
  min-width: inherit;
}

input[type="checkbox"] {
  min-width: auto;
}

.action-btn {
  width: 100%;
  padding: 5px;
}

.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
