@import "tailwindcss/components";
@import "tailwindcss/utilities";

nav {
  margin-bottom: 0;
}

footer,
header,
main {
  padding: 1rem 1rem;
}

input {
  min-width: inherit;
}

input[type="checkbox"] {
  min-width: auto;
}

.action-btn {
  width: 100%;
  padding: 5px;
}

.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0;
}

.username {
  margin: 0 10px;
}

.usermenu {
  margin-top: 50px;
  margin-left: 60px;
}

@media screen and (max-width: 480px) {
  .username {
    margin: 0 10px;
    display: none;
  }

  .usermenu {
    margin-top: 50px;
    margin-left: -50px;
  }
}

