<section>
  <.form let={f} for={@changeset} id="vote-form" phx-target={@myself} phx-change="validate" phx-submit="save">
    <header>
      <h2><%= @title %></h2>
    </header>
    <%= label(f, :pontuation) %>
    <%= number_input(f, :pontuation) %>
    <%= error_tag(f, :pontuation) %>

    <div>
      <%= submit("Save", phx_disable_with: "Saving...", class: "action-btn") %>
    </div>
  </.form>
</section>
